body{

font-family: Tahoma;
font-size: 14px;
background-color: #BFC08D;

}

.tablebottom{

border-bottom: 1px solid #E6E6E6;

}

.middlebox{

border-bottom: 1px solid #E6E6E6;
border-left: 1px solid #E6E6E6;

}

#maintable{

border: 1px solid #E6E6E6;
background-color: #C9CCBB;

}

#chatscreen{

width: 850px;
height: 500px;
float: left;
overflow: auto;
text-align: left;
font-size: 14px;

}

#onlineusers{

height: 500px;
width: 100px;
float: right;

}

a{

text-decoration: none;
color: #000000;

}

a:hover{

text-decoration: none;
color: #8DBAEB;

}

input{

border: 1px solid #E6E6E6;

}

input[type="text"]{
	font-size: 24px;
	width: 75%;
}

.notice {
	font-size: 1.85em;
	padding: 8px;
	padding-left: 56px;
	text-align: left;
	background-size: 46px !important;
	display: hidden;
	border-top:  8px solid transparent;
}

.hideme { display: none; }
.showme { display: block; }

.whitebordertop { border-top:  8px solid white; }
.blackbordertop { border-top:  8px solid black; }

.redtextbox { background-color: #cc0000; color: white; } 
.erroriconforinput{
	background-image: url('warning.png');
	background-repeat: no-repeat;
	background-size: 32px;
	padding-left: 1.85em;
	background-position: left bottom;
}

#submitbutton{

background-color: #FFFFFF;
font-family: Tahoma;
font-size: 24px;
}

#messagebox{

background-color: #E8E9E2;

}

#userbox{

background-color: #E8E9E2;    
height: 20px;

}

#usersbox{

text-align: left;
background-color: #E8E9E2;    

}

.user{

border-bottom: 1px solid #969A7A;

}